#game-div.container{
  width: 500px !important;
  padding: 0px 0px !important;
  padding-top: 70px !important;
  color: #776e65 !important;
  font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif !important;
  font-size: 18px !important; 
}

